/* FONTS */
@font-face {
    font-family: MinimalHard;
    src: url(/fonts/minimalhard.ttf);
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/MaterialIcons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/fonts/MaterialIcons/MaterialIcons-Regular.woff2) format('woff2'),
    url(/fonts/MaterialIcons/MaterialIcons-Regular.woff) format('woff'),
    url(/fonts/MaterialIcons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* HEADER */
nav {
	margin-bottom: 80px;
}

nav ul a:hover {
    background-color: #191919;
}

.dropdown-dark {
	background-color: #212121;
}

.dropdown-dark li>a, .dropdown-dark li>span {
    color: #ffffff;
}

.dropdown-dark li.divider {
    height: 2px;
    background: #424242;
}

.dropdown-dark li:hover, .dropdown-dark li.active, .dropdown-dark li.selected {
    background-color: #191919;
}

/* CONTENT */
.container .row {
	margin-left: 0;
	margin-right: 0;
}

.tab-content {
	padding: 5em 2em 0 2em
}

.title {
	display: block;
    line-height: 32px;
    margin: 1.2em 0;
    font-size: 18px;
    font-weight: 300;
}

.title-logo {
	font-family: MinimalHard;
	font-size: 3em;
}

.title-login {
	display: block;
    line-height: 32px;
    margin-bottom: 8px;
    font-family: MinimalHard;
	font-size: 3em;
    font-weight: 300;
}

.app-output {
	padding: 10px 50px;
    background: #1d1c1c;
}

.module-output {
	padding: 10px 50px;
    background: #1d1c1c;
}

.log-block {
	max-height: 40vh;
	overflow-y: scroll;
	overflow-x: hidden;
	display: block;
	font-family: monospace;
    font-size: 0.8em;
    margin: 1em 0px;
    border-bottom: #424242 solid 2px;
	word-wrap: break-word;
    white-space: pre-wrap;
    
}

.log {
	max-height: 50vh;
    overflow-y: scroll;
    font-size: 0.8em;
}

.switch {
	padding-right: 1em;
}

/* OVERRIDE */
.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: transparent;
}

input, textarea {
    color: #fff;
}

input[type="text"]:not(.browser-default):disabled {
	color: rgba(255, 255, 255, 0.25);
    border-bottom: 1px dotted rgba(255, 255, 255, 0.25);
}

input[type=text]:not(.browser-default):disabled+label {
	color: rgba(255, 255, 255, 0.25);
}

table.striped>tbody>tr:nth-child(odd) {
    background-color: #1d1c1c;
}

.collapsible {
    border-top: 1px solid #424242;
    border-right: 1px solid #424242;
    border-left: 1px solid #424242;
}

.collapsible-header {
    background-color: #424242;
    border-bottom: 1px solid #424242;
}

.collapsible-body {
    border-bottom: 1px solid #424242;
}

/* LOADING OVERLAY */
#loading-overlay {	
	background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2147483647;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: 100px;
}

.loading-text {
	color: #fff;
}

/* SCROLL BAR */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #424242; 
}
 
::-webkit-scrollbar-thumb {
    background: #6a6a6a; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* MODAL */

.modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    max-height: 70%;
    width: 55%;
    margin: auto;
    /* overflow-y: auto; */
    /* border-radius: 2px; */
    will-change: top, opacity;
}
.z-depth-4, .modal {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}


